isodate==0.6.0
psycopg2==2.7.7
psycopg2-binary==2.8.5
pyparsing==2.4.7
rdflib==5.0.0
six==1.15.0
SPARQLWrapper==1.8.5
fastapi==0.67.0
uvicorn[standard]==0.14.0
lxml==4.6.4
requests==2.26.0
sickle==0.7.0
click>=8.0